html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  background-color: #ffd1ce;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Special Elite', cursive;
}

#report-header {
  font-family: 'Special Elite', cursive;
}

#user-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

#analyse-btn {
  height: 30px;
  width: 100px;
  border-radius: 15px;
  border: 2px solid;
  border-color: white;
  background-color: #dcf0f0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

#text-report {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  text-align: left;
  width: 70%;
  background-color: #fffdfb;
  border-radius: 15px;
  white-space: pre-wrap;
  line-height: 250%;
  font-family: 'Special Elite', cursive;
}

#error-message {
  color: red;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  padding: .5px;
  background-color: #ffd9d1;
  text-align: center;
}
